* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

@block: Alegreya Sans;
@gold: #e8af06;
@brown: #aa4825;
@dark: #28150c;

body {
  font-family: @df-sans;
  margin: auto;
}

.spacer {
  height: 10px;
}

nav.top-bar {
  position: relative;

  @media @mobile {
    height: 40px;
    background: @brown;
    margin-top: 10px;
  }

  .logo {
    position: relative;
    top: 30px;
    text-align: center;
    display: block;
    z-index: 99999;

    @media @mobile {
      top: 0;
    }

    img {
      box-sizing: content-box;
      height: 30px;
      background: @brown;
      padding: 10px;

      @media @mobile {
        padding: 5px;
      }
    }
  }
}

.image-bar {
  background: @gold; 
  width: 100%;
  margin-bottom: 10px;
  position: relative;

  @media @mobile {
    margin-bottom: 0;
  }
}

.top-image {
  display: block;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  @media @mobile {
    position: static;
    display: block;
    transform: none;
    -webkit-transform: none;
    background: white;
    padding-top: 20px;

  }
}

.container {
  max-width: 1000px;
  margin: auto;
}

.top {
  text-align: center;
}

.title {
  padding-top: 20px;
  font-family: @block;
  font-size: 30px;
  font-weight: bold;

  @media @mobile {
    font-size: 28px;
    padding-top: 15px;
  }

  &.smaller {
    font-size: 24px;
    padding-top: 5px;
  }
}

.chatter {
  font-size: 18px;
  margin: auto;

  @media @mobile {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
  }
}

.intro {
  @media @mobile {
    display: inline;
  }
}

.divider {
  border-top: 4px solid @gold;
  margin-top: 10px;
  padding-top: 10px;

  &.thick {
    max-width: 250px;
    margin: auto;
    margin-top: 40px;
    border-width: 6px;
  }

  &.thin {
    border-width: 3px;
  }

  &.credits {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    border-width: 3px;
    padding-bottom: 15px;

    @media @mobile {
      display: block;
    }
  }
}

.group-wrapper {
  display: block;
  text-align: center;

  .second-group {
    display: inline-block;

    @media (max-width: 1000px) {
      display: block;
    }
  }

  .beer-group {
    display: inline-block;
    border-right: 2px solid @df-border-gray;
    padding: 0 30px;
    margin-top: 30px;

    @media @mobile {
      margin-top: 20px;
    }

    &.ales {
      @media (max-width: 1000px) {
        border-right: 0;
      }
    }

    &.lagers {
      @media (max-width: 425px) {
        border-right: 0;
      }
    }

    .dot-container {
      display: inline-block;
    }

    .dot-label {
      display: none;
      text-transform: uppercase;
      font-size: 11px;
      padding-bottom: 5px;
      position: absolute;
      top: -20px;
      text-align: center;
      width: 100%;
    }

    .dot {
      width: 45px;
      height: 45px;
      position: relative;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }

      &.selected::before {
        content: "⬤";
        position: absolute;
        line-height: 45px;
        text-align: center;
        width: 100%;
        color: @df-off-white;
        left: 0;
      }

      &:hover::before {
        content: "⬤";
        position: absolute;
        line-height: 45px;
        text-align: center;
        width: 100%;
        color: @df-off-white;
        left: 0;
      }

      &:hover .dot-label {
        display: block;
      }
    }

    .label {
      font-style: italic;
      font-family: @block;
      text-align: center;
      padding-top: 5px;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.info-box, .beer-box {
  text-align: left;
  font-size: 16px;
  .display-flex();

  @media @tablet {
    display: block;
  }

  .text-box {
    .flex(1);
    padding: 0 20px;
  }

  .glass {
    .display-flex();
    padding-top: 15px;

    .glass-img, .glass-text {
      display: inline-block;
      vertical-align: top;
    }
    .glass-img {
      .flex(0 0 110px);
    }
    .glass-text {
      .flex(1);
    }
    img {
      max-width: 100px;
      padding-right: 10px;
    }
  }
}

.info-box {
  margin: 10px 0 30px 0;
}

.beer-box {
  display: none;
  background: lighten(@gold, 30%);
  padding-right: 40px;
  padding-left: 40px;
  position: relative;
  margin-top: 30px;

  @media @mobile {
    padding: 10px 20px 30px 20px;
  }

  &.visible {
    .display-flex();

    @media @tablet {
      display: block;
    }
  }

  .text-box {
    padding: 20px;
    padding-bottom: 45px;

    @media @mobile {
      padding: 0px;
    }
  }

  .close {
    position: absolute;
    font-size: 25px;
    top: 8px;
    right: 12px;
    cursor: pointer;

    &:hover {
      color: @df-orange;
    }
  }
}

.abv-table {
  margin-top: 10px;
  border-collapse: collapse;

  .style {
    font-family: @block;
  }

  .abv {
    text-align: right;
  }

  td {
    min-width: 95px;
    border-bottom: 1px solid white;
    padding: 4px 15px;
  }
}

.credits {
  font-size: 14px;
  text-align: center;

  .credit {
    font-size: 15px;
    font-family: @block;
    text-align: center;
  }
  .source {
    text-align: left;
    font-size: 12px;
  }

  @media @tablet {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.copyright {
  color: @df-middle-gray;
}

footer {
  background: @dark;
  opacity: 0.95;
  padding: 8px 8px 4px 8px;
  position: relative;
  z-index: 99;
  margin-top: 25px;

  .logo {
    float: left;
    margin-right: 10px; 
    
    img {
      margin-top: 5px;
      height: 20px;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }

  .share.bottom {
    float: right;

    label {
      background: @dark !important;
      color: white !important;
    }
  }
}

.ad {
  text-align: center;
  padding-top: 10px;
}
.bottom-ad {
  padding-bottom: 30px;

  @media @mobile {
    display: none;
  }
}
